modules = ["nodejs-20", "web", "ruby-3.2", "java-graalvm22.3"]
run = "npm run start"
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["openssh_gssapi", "imagemagick", "unzip", "android-tools", "openjdk17", "openjdk21", "wget"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Educational File Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "display_alpha_file"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "React App"

[[workflows.workflow]]
name = "React App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "HOST=0.0.0.0 PORT=5000 BROWSER=none DANGEROUSLY_DISABLE_HOST_CHECK=true npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[deployment]
run = ["npx", "serve", "-s", "build", "-l", "5000"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
